.interested {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/src/images/bg-image/hero-bg4.jpg");
  background-position: center;
  background-size: cover;
  padding: 14rem 0;

  @media screen and (min-width: 0px) and (max-width: 800px) {
    height: auto;
  }

  &__items {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 0px) and (max-width: 800px) {
      width: 100%;
    }

    & h1 {
      font-size: 7rem;
      margin-bottom: 1rem;
      color: $color-text;
      text-align: center;

      @media screen and (min-width: 0px) and (max-width: 800px) {
        font-size: 3.5rem;
      }
    }

    & button {
      @include button;
    }
  }
}

.contact {
  position: relative;
  padding: 8rem 0;

  & h1 {
    font-size: 7rem;
    text-align: center;
    color: $color-darker;
    margin-bottom: 2rem;

    @media screen and (min-width: 0px) and (max-width: 800px) {
      font-size: 4rem;
    }
  }

  &__items {
    width: 55%;
    margin: auto;

    @media screen and (min-width: 0px) and (max-width: 800px) {
      width: 100%;
    }

    & form {
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & input,
      & textarea {
        width: 100%;
        border-radius: 5px;
        border: 0.1rem solid $color-gray;
        margin-bottom: 2.5rem;
        padding: 1.5rem 4rem;
        font-size: 1.5rem;
      }

      & button {
        @include button;
      }
    }
  }
}
